body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background-color: #0e1e25;
}

#wrapper {
	margin: 2% 5%;
	background-color: white;
	border-radius: 25px;
}

#content {
	padding: 25px;
}